<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Document</title>
    </head>
    <body>
        {% block borrows %}
        <div style="display: flex;">
            {%if borrows %} {% for borrow in borrows%}
          <h3 class="id" style="padding: 10px;">{%borrow.id %}<h3> 
            
          <h3 class="correo" style="padding: 10px;">{% borrow.usuario %}<h3>
          <h3 class="nombreLibro" style="padding: 10px;">{% borrow.libro %}<h3>
          <h3 class="fecha" style="padding: 10px;">{% borrow.fechaPrestamo %}<h3> 
        </div>
        {% endblock %}
     </body>
</html> 