{% extends "index.html" %} {% block content %}

<div class="login-content">
  <div class="login-header">
    <h2>¿Olvidó su contraseña?</h2>
    <p>
      Escribe el correo con el que te registraste.
      
    </p>
  </div>

  <form id="register-form" method="POST" action="{{ url_for('main.forgotPassword') }}">
    <div class="form-input-container current">
      <label for="email">Correo electrónico:</label>
      <input type="email" name="email" id="email" autocomplete="off" required />
    </div>

    <div class="form-input-container current">
      <label for="password">Contraseña:</label>
      <input type="password" name="password" id="password" autocomplete="off" />
    </div>

    <div class="form-input-container current">
      <label for="confirmPassword">Confirmar contraseña:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="off" />
    </div>

    <input id="forgotPassword" class="submitData" type="submit" value="Actualizar" style=" justify-content: center;"/>
    
    <a id="goBack" href="{{ url_for('main.login') }}" class="create-account"  >Volver al inicio</a>
  </form>
</div>

{% endblock %}
