<!DOCTYPE html>
<html lang="en">
  <head>
    <title>iBookify - Inicio</title>
    <link rel="stylesheet" href="../static/css/app-styles.css" />
    <script
      src="https://kit.fontawesome.com/e0f1625396.js"
      crossorigin="anonymous"
    ></script>
  </head>

    <body class="dashboard-body">
      
    <div class="header-container">
      {% block header %} {%include'header.html' %} {% endblock %}
    </div>

    <div class="profile-container" >
        {% block reservations %}
        {%if reservations %} {% for reservation in reservations%}
        <div class="profile-data">
          <h3 class="id" style="padding: 10px;">{{ reservation.id }} 
            
          <h3 class="correo" style="padding: 10px;">{{ reservation.usuario }}<h3>
          <h3 class="nombreLibro" style="padding: 10px;">{{ reservation.libro }}<h3>
          <h3 class="fecha" style="padding: 10px;">{{ reservation.fechaReservacion }}<h3> 
        </div>
        {% endfor %}{% endif %}
        {% endblock %}
     </body>
</html>     


